.hobbiton-map-container {
  width: 80%;
  height: 300px;
  margin: 20px auto;
}

/* 📌 Medium devices (768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .hobbiton-map-container {
    width: 70%;
    height: 400px;
    margin: 20px auto;
  }
}

/* 📌 Large devices (más de 1200px) */
@media only screen and (min-width: 1200px) {
  .hobbiton-map-container {
    width: 60%;
    height: 500px;
    margin: 20px auto;
  }
}